body{
    padding: 0px;
    margin: 0px;
    font-family:serif;
    background: url(img/bg.jpg) no-repeat top center ;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 650px;
    padding-top: 5%;
    padding-left: 15%;
    color: #FFF;
    font-size: 19px;
    font-family: "Lato", sans-serif;

    
}



.header {
    color: #5a5151;
    text-align: center;
    top: 0px;
    width: 100%;
    padding: 5px;
    position: fixed;
    top: 0px;
  
    
 
}

  h1.fivestar{
    position: fixed;
    top: 10px;
    left: 90px;
    color: black;
    font-size: 30px;
    
  }
  
  ul.menu{
    list-style: none; 
    
    
    
  }
  li.home{
    position: fixed;
    top: 40px;
    left: 870px;
    color: #CCC;
    
  }
  
 
  
    li.services{
    position: fixed;
    top: 40px;
    left: 950px;
    color: white;
    
  }
  
      li.room{
    position: fixed;
    top: 40px;
    left: 1060px;
    color: white;
    
  }
  
  
      li.contact{
    position: fixed;
    top: 40px;
    left: 1150px;
    color: white;
    
  }
  
  A
  {
    text-decoration:none;
    color: rgba(255, 255, 255, 0.4);
   }
   A:hover{
    color: white;
   }

form.rr {
    width: 55%;
    padding: 30px;
    margin: 5px auto;
    position: absolute;
    top:180px;
    left: 480px;
    background-color:#5a535394;
    width: 400px;
    height: 130px;

}

.textInput{
   margin-top: 2px;
   height: 34px;
   border:1px solid #5E6E66;
   font-size: 13px;
   padding: 1px;
   padding-left:4px; 
   width: 100%;

      
}

#error_msg{
    width: 50%;
    margin: 5px auto;
    height: 30px;
    border: 1px solid #FF0000;
    background: #FFB9B8;
    color:#FF0000;
    text-align: center;
    padding-top: 10px;}
    
    
td {
        text-align: right;
        color:#42261c;
        font-size:  26px;
        font-weight:bold;
    }
    

.btn {
   background-color: #D9534F;
   font-size: 17px;
   font-family: serif;
   padding: 4px 12px;
   margin: 2px;
   color:#f1eceb;
   border: hidden;
   width: 85px;
   height: 35px;
  
   
}
.btn:hover{
    background-color: #c51f1f;
}


       .rgstr_btn1{
    background-color: #D9534F;
   font-size: 17px;
   font-family: serif;
   padding: 4px 12px;
   margin: 2px;
   color:#f1eceb;
   border: hidden;
   width: 85px;
   height: 35px;
  }
  
  .rgstr_btn1:hover{
    background-color: #c51f1f;
}

   .rgstr_form{
    position: absolute;
    top: 180px;
    left: 390px;
    background-color:#5a535394; 
    width: 500px;
    margin: 2px;
    padding: 30px;
   }
   
    td.r{
    font-family: "Lato", sans-serif;
    font-size:20px;
    font-weight:bold;

   }
  
  
.LRbtn {
   background-color: #D9534F;
   font-size: 17px;
   font-family: serif;
   padding: 4px 12px;
   margin: 2px;
   color:#f1eceb;
   border: hidden;
   position: absolute;
   top:80px;
   left: 50px;
   width: 80px;
   height: 28px;
   
}
.LRbtn:hover{
    background-color: #c51f1f;
}  

.LRbtn1 {
   background-color: #D9534F;
   font-size: 17px;
   font-family: serif;
   padding: 4px 12px;
   margin: 2px;
   color:#f1eceb;
   border: hidden;
   position: absolute;
   top:100px;
   left: 50px;
   width: 80px;
   height: 28px;
   
}
.LRbtn1:hover{
    background-color: #c51f1f;
}



.rpheader{
    position: absolute;
    top:15px;
    left: 600px;
    font-family: serif;
}

.rform{
  position: absolute;
  top: 100px;
  left:340px;
  
  
}
  

 .sidenav {
                  height: 100%;
                  width: 0;
                  position: fixed;
                  z-index: 1;
                  top: 0;
                  left: 0;
                  background-color: #111;
                  overflow-x: hidden;
                  transition: 0.5s;
                  padding-top: 60px;
                } 


.sidenav a {
                  padding: 8px 8px 8px 32px;
                  text-decoration: none;
                  font-size: 25px;
                  color: #818181;
                  display: block;
                  transition: 0.3s;
                  }

       .sidenav a:hover
                  {
                  color: #f1f1f1;
                  }

       .sidenav .closebtn
                 {
                  position: absolute;
                  top: 0;
                  right: 25px;
                  font-size: 36px;
                  margin-left: 50px;
                  }

       .openBut
               {
                  position: fixed;
                  top: 25px;
                  left: 20px;
   
               }
               
               
        
   .sidenav button.logoutBtn {
                  padding: 8px 8px 8px 32px;
                  text-decoration: none;
                  font-size: 25px;
                  color: #818181;
                  display: block;
                  transition: 0.3s;
                  background-color: Transparent;
                  background-repeat:no-repeat;
                  border: none;
                  outline:none;
                  }

       .sidenav button.logoutBtn:hover
                  {
                  color: #f1f1f1;
                  }

        @media screen and (max-height: 450px)
                 {
                  .sidenav {padding-top: 15px;}
                 .sidenav a {font-size: 18px;}
                 } 

 .midTitle span {
    text-transform: uppercase;
    letter-spacing: 5px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
    top: 160px;
    left: 345px;
    font-size: 20px;
    font-weight: 500; 
    color:white;
}

.mid2{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    line-height: 60px;
    margin: 0 0 30px 0;
    text-align: center;
    position: relative;
    top: 170px;
    left: -60px;
    
}

.btnbook{
    padding: 14px 30px !important;
    font-size: 22px !important;
    bordeR: 1px solid transparent;
    border-radius: 30px;
    background: #FF5722;
    color: #fff;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", Arial, serif;
    font-weight: 400;
    line-height: 1.33333;
    cursor: pointer;
    position: relative;
    top: 190px;
    left: 400px;
}

.btnbook:hover{
    background: #303030;
}


  .site-footer
       {
  background-color:#4c4c4cdb;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  width: 1501px;
  height: 100px;
  position: absolute;
  top:650px;
  left: -2px;
}

.site-footer .footerabout{
    position: absolute;
    top: 12px;
    left: 300px;
    font-weight:400;
    font-size:20px;
    color: #bdbbb7;
    font-family:"Lato", sans-serif	;
}

.site-footer .footerabout2{
    position: absolute;
    top: 20px;
    left: 300px;
    font-weight:normal;
    font-size:17px;
    color: #bfb9b9;
}

.site-footer .contactfooter{
    position: absolute;
    top: 12px;
    left: 900px;
    font-weight:400;
    font-size:20px;
    color: #bdbbb7;
    font-family:"Lato", sans-serif	;
}

.site-footer .contactfooter2{
    position: absolute;
    top: 20px;
    left: 900px;
    font-weight:normal;
    font-size:17px;
    color: #bfb9b9;
}


.site-footer .h1footer{
    font-family:"Lato", sans-serif	;
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
    top:-3px;
    font-size:25px;
    color: #bdbbb7;;
    letter-spacing: -1px;
}

.site-footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.site-footer .fa:hover {
    opacity: 0.7;
}

.site-footer .fa-facebook {
  background:rgba(76, 175, 80, 0);
  color: #3146d8;
  position: absolute;
  top:25px;
}

 .site-footer .fa-twitter {
  background:rgba(76, 175, 80, 0);
  color: #4de6e6;
  position: absolute;
  top:25px;
  left: 40px;
}

 .site-footer .fa-instagram {
  background:rgba(76, 175, 80, 0) ;
  color: #ef6f92;
  position: absolute;
  top:25px;
  left: 90px;
 
}





