
<html>
<head>
  <link rel="stylesheet" href="Add_Room.css">
  </head>
<body>
  <div class="contain">
    <div class="Add">
      <span>
      For Adding Room
      </span>
    <form class="foorm" action="DataBase" method="POST">
    <div class="form">
      <div class="Class_name">
        <label>Room Number  </label>
        <input type="text" name="name" class="Class_Input"  value = "" placeholder="Enter Room name" required pattern="^[a-zA-Z]*" title="you should enter valid class name">

	  </div>
      <br><br>
      <div class="Floor">
      <label>Floor Number </label>
      <input type="text"  name="floor" class="Class_Input" value = "" placeholder="Enter Floor" required pattern="(1|2|3|4)" title="you should enter valid floor">
       </div>
       <br>
       <div class="Bulid_Name">
         <label> Room Type     </label>
         <input type="text" name="bulid_name" class="Class_Input" value = ""  placeholder="room single/ double.." required pattern="^[a-zA-Z]*" title="you should enter valid build name">
       </div>

       <br>
       <div class="submit">
         <div class="Add"><input type="submit" name="submit_Class"  value="Add" ></div>
         <div class="cancel">
           <input type="reset" value="Cancel" >
         </div>
      </div>
    </div>

  </form>

  </div>
 </body>
 </html>
